/* Type */

body, input, select, textarea {
    @include breakpoint('<=xxsmall') {
        font-size: 9pt;
    }
}

@include breakpoint('<=small') {
    h1 {
        font-size: 2em;
        line-height: 1.4;
    }

    h2 {
        font-size: 1.5em;
    }
}
