<!-- Banner -->
<section id="banner"
{% if include.style.class %}class="{{ include.style.class | default: '' }}"{% endif %}
{% if include.style.image %}style="
background-image: url({{ 'assets/css/images/split.curve.svg' | absolute_url }}), url({{ include.style.image.url | absolute_url }});
background-position: {{ include.style.image.position | default: 'right' }} -5em, {{ include.style.image.position | default: 'right' }} -5em;
background-size: {{ include.style.image.size | default: 'auto 100vh' }}, {{ include.style.image.size | default: 'auto 100vh' }};"
{% endif %}>
  <div class="content">
    <header>
      <h1>{{ include.title }}</h1>
      {% if include.subtitle %}<p>{{ include.subtitle }}</p>{% endif %}
    </header>
    {% if include.description %}<p>{{ include.description }}</p>{% endif %}
    <ul class="actions">
      <li><a href="{{ include.button.url | default: '#' }}" class="button primary big">{{ include.button.label | default: 'Ask for advice!' }}</a></li>
    </ul>
  </div>
</section>
