<!-- Banner -->
<section id="banner"
{%- if include.style -%}
class="{{ include.style.class | default: '' }}"
style="background-image: url({{ include.style.image | absolute_url }}); background-position: {{ include.style.position | default: 'center' }} -5em; background-size: {{ include.style.size | default: '100% auto' }};"
{% endif %}>
  <div class="content">
    <header>
      <h1>{{ include.title }}</h1>
      {% if include.subtitle %}<p>{{ include.subtitle }}</p>{% endif %}
    </header>
    {% if include.description %}<p>{{ include.description }}</p>{% endif %}
    <ul class="actions">
      <li><a href="{{ include.button.url | default: '#' }}" class="button primary big scrolly">{{ include.button.label | default: 'Ask for advice!' }}</a></li>
    </ul>
  </div>
</section>
