<!-- Banner -->
<section id="banner" class="{{ include.class | default: '' }}">
  <div class="content">
    <header>
      <h1>{{ include.title }}</h1>
      {% if include.subtitle %}<h3>{{ include.subtitle }}</h3>{% endif %}
    </header>
    {% if include.description %}<p>{{ include.description }}</p>{% endif %}
    <ul class="actions">
      <li><a href="{{ include.button.url | default: '#' }}" class="button primary big">{{ include.button.label | default: 'Ask for advice!' }}</a></li>
    </ul>
  </div>
</section>
