<section id="contact" class="inverted" style="{{ include.style | default: nil }}">
    <header class="major">
        <h2>Contact Me</h2>
    </header>
    <div class="row gtr-200">
        <div class="col-6 col-12-medium">
            <form method="post" action="#">
                <div class="row gtr-uniform">
                    <div class="col-6 col-12-xsmall">
                        <input type="text" name="cta-name" id="cta-name" value="" placeholder="Name" />
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <input type="email" name="cta-email" id="cta-email" value="" placeholder="Email" />
                    </div>
                    <!-- Break -->
                    <div class="col-12">
                        <textarea name="cta-message" id="cta-message" placeholder="Enter your message" rows="6">Please get back to me!</textarea>
                    </div>
                    <!-- Break -->
                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="primary button solid fa-envelope" /></li>
                            <li><input type="reset" value="Reset" class="icon button fa-undo" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6 col-12-medium">
            <ul class="contact">
                <li class="icon solid fa-envelope"><a href="#">{{ site.email }}</a></li>
                <li class="icon solid fa-phone">{{ site.phone }}</li>
                <li class="icon solid fa-home">{{ site.street_address }}<br />
                {{ site.zip_code }}, {{ site.city }}</li>
            </ul>
        </div>
    </div>
</section>
