{%- assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' -%}
{%- assign pages=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' | concat: posts -%}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | absolute_url }}" media="all" />
    <link rel="stylesheet" href="{{ 'assets/css/large.css' | absolute_url }}" media="screen and (min-width: 981px)" />
    <link rel="stylesheet" href="{{ 'assets/css/medium.css' | absolute_url }}" media="screen and (min-width: 737px) and (max-width:980px)" />
    <link rel="stylesheet" href="{{ 'assets/css/small.css' | absolute_url }}" media="screen and (max-width:736px)" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700&display=swap" type="text/css" media="all">
    <link rel="stylesheet" href="{{ 'assets/css/fontawesome-all.min.css' | absolute_url }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{ 'assets/css/font-certifications.min.css' | absolute_url}}" type="text/css" media="all">
    <link rel="stylesheet" href="{{ 'assets/css/cookieconsent.min.css' | absolute_url }}" type="text/css" media="all">
    {%- if include.stylesheets -%}
    {%- for file in include.stylesheets -%}
    <link rel="stylesheet" href="{{ file.url | absolute_url }}" />
    {%- endfor -%}
    {%- endif -%}
    {%- for page in pages -%}
    <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />
    {%- endfor -%}
    {%- if site.favicon -%}
    <link rel="icon" href="{{ site.favicon | absolute_url }}" />
    {%- endif -%}
    <noscript><link rel="stylesheet" href="{{ 'assets/css/noscript.css' | absolute_url }}" /></noscript>
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700&display=swap" /></noscript>
    <noscript><link rel="stylesheet" href="{{ 'assets/css/fontawesome-all.min.css' | absolute_url }}" /></noscript>
    <noscript><link rel="stylesheet" href="{{ 'assets/css/cookieconsent.min.css' | absolute_url }}" /></noscript>
    {% seo %}
</head>
