<!-- Header -->
<header id="header"
{%- if include.style -%}
class="{{ include.style.class | default: '' }}"
style="background-image: url({{ include.style.image | absolute_url }}); background-position: {{ include.style.position | default: 'center' }} top; background-size: {{ include.style.size | default: '100% auto' }};"
{% endif %}>
    <a href="{{ '' | absolute_url }}" class="logo">
        <span class="title">
            <strong>{{ include.title }}</strong>
        </span>
        <span class="subtitle"> - {{ include.subtitle }}</span>
    </a>
    {% include language.html %}
</header>
