<!-- Menu -->
<nav id="menu">
    <header class="major">
        <h2>Menu</h2>
    </header>
    <ul>
    {% for item in include.menu %}
        {% if item.menu[0] %}
        <li>
            <span class="opener {% if item.url == page.url %} current {% endif %}">{{ item.title }}</span>
            <ul>
                {% for subitem in item.menu %}
                <li {% if subitem.url == page.url %} class="current" {% endif %}>
                    <a href="{{ subitem.url | absolute_url }}">{{ subitem.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% else %}
        <li {% if item.url == page.url %} class="current" {% endif %}>
            <a href="{{ item.url | absolute_url }}">{{ item.title }}</a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>