<!-- Menu -->
<nav id="menu">
    <ul>
    {%- for item in include.menu -%}
        {%- assign is_current = false -%}
        {%- if item.url == page.url %}
            {%- assign is_current = true -%}
        {%- elsif item.menu[0] -%}
            {%- for subitem in item.menu -%}
                {% if subitem.url == page.url %}
                    {%- assign is_current = true -%}
                {%- endif -%}
            {%- endfor -%}
        {% endif -%}
        <li {% if is_current == true %}class="current"{% endif %}>
        {%- if item.menu[0] -%}
            <span class="opener">{{ item.title }}</span>
            <ul>
                {%- for subitem in item.menu -%}
                <li>
                    <a href="{{ subitem.url | absolute_url }}">{{ subitem.title }}</a>
                </li>
                {%- endfor -%}
            </ul>
        {%- else -%}
            <a href="{{ item.url | absolute_url }}">{{ item.title }}</a>
        </li>
        {%- endif -%}
    {%- endfor -%}
    </ul>
</nav>
