<!-- Scripts -->
<script src="{{ 'assets/js/jquery.min.js' | absolute_url }}" type="text/javascript" ></script>
<script src="{{ 'assets/js/jquery.scrolly.min.js' | absolute_url }}" type="text/javascript" ></script>
<script src="{{ 'assets/js/browser.min.js' | absolute_url }}" type="text/javascript" ></script>
<script src="{{ 'assets/js/breakpoints.min.js' | absolute_url }}" type="text/javascript" ></script>
<script src="{{ 'assets/js/lazy-loading.js' | absolute_url }}" type="text/javascript" ></script>
<script src="{{ 'assets/js/util.js' | absolute_url }}" type="text/javascript" ></script>
<script src="{{ 'assets/js/main.js' | absolute_url }}" type="text/javascript" ></script>
<script src="{{ 'assets/js/cookieconsent.min.js' | absolute_url }}" type="text/javascript" data-cfasync="false" ></script>
<script>
window.cookieconsent.initialise({
    "palette": {
        "popup": {
            "background": "#252e39"
        },
        "button": {
            "background": "#14a7d0"
        }
    }
});
</script>
{%- if include.scripts -%}
{%- for file in include.scripts -%}
<script src="{{ file.url | absolute_url }}" type="text/javascript" /></script>
{%- endfor -%}
{%- endif -%}
