{% assign posts=site.posts | where:"lang", page.lang %}
{% assign date_format = site.date_format | default: "%b %-d, %Y" %}

{%- if posts.size > 0 -%}
<section>
    <header class="major">
        <h2>{{ page.list_title | default: "Posts" }}</h2>
    </header>
    <div class="posts">
        {%- for post in posts -%}
        <article>
            <a href="{{ post.url | absolute_url }}" class="image"><img src="{{ post.image | absolute_url }}" alt="" /></a>
            <h3>{{ post.title | escape }}</h3>
            <!-- <span>{{ post.date | date: date_format }}</span> -->
            <p>{{ post.excerpt }}</p>
            <ul class="actions">
                <li><a href="{{ post.url | absolute_url }}" class="button">More</a></li>
            </ul>
        </article>
        {% endfor %}
    </div>
</section>

<p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | absolute_url }}">via RSS</a></p>
{%- endif -%}