<article class="tile-container {{ include.class }}">
    {%- if include.target_url -%}
    <a href='{{ include.target_url | absolute_url }}'>
    {%- endif -%}
        <div class="tile">
            <div class= "on">
                <h3>{{ include.title }}</h3>
                <span class="icon {{ include.icon }}"></span>
            </div>
            <div class="off">
            {%- if include.content and include.content != blank and include.content != nil and include.content != "" -%}
                {{ include.content }}
            {%- else -%}
                <h3>{{ include.title }}</h3>
                <span class="icon {{ include.icon }}"></span>
            {%- endif -%}
            </div>
        </div>
    {%- if include.target_url -%}
    </a>
    {%- endif -%}
</article>
