@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';

// Breakpoints.

@include breakpoints((
    xlarge:   ( 1281px,  1680px ),
    large:    ( 981px,   1280px )
));

// Base.

@import 'large/base/reset';
@import 'large/base/page';
@import 'large/base/typography';

// Component.

@import 'large/components/row';
@import 'large/components/section';
@import 'large/components/form';
@import 'large/components/box';
@import 'large/components/icon';
@import 'large/components/image';
@import 'large/components/list';
@import 'large/components/actions';
@import 'large/components/icons';
@import 'large/components/language';
@import 'large/components/contact';
@import 'large/components/pagination';
@import 'large/components/table';
@import 'large/components/button';
@import 'large/components/mini-posts';
@import 'large/components/features';
@import 'large/components/facts';
@import 'large/components/tileset';
@import 'large/components/posts';

// Layout.

@import 'large/layout/wrapper';
@import 'large/layout/main';
@import 'large/layout/sidebar';
@import 'large/layout/header';
@import 'large/layout/banner';
@import 'large/layout/footer';
@import 'large/layout/menu';
