@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600');
@import url('font-awesome.min.css');

/*
	Drop by apehex
	https://github.com/apehex
	Free for personal and commercial use under the CCA 4.0 license
*/

// Breakpoints.

	@include breakpoints((
		wide:    ( 1081px,  1680px ),
		normal:  ( 841px,   1080px ),
		narrow:  ( 737px,   840px  ),
		mobile:  ( null,    736px  )
	));

// Base.

	@import 'base/reset';
	@import 'base/typography';

// Components.

	@import 'components/actions';
	@import 'components/box';
	@import 'components/button';
	@import 'components/container';
	@import 'components/form';
	@import 'components/icons';
	@import 'components/image';
	@import 'components/list';
	@import 'components/menu';
	@import 'components/poptrox';
	@import 'components/row';
	@import 'components/sections';
	@import 'components/table';

// Layout.

	@import 'layout/banner';
	@import 'layout/breakpoints';
	@import 'layout/footer';
	@import 'layout/header';