@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';

/*
	Drop by apehex
	https://github.com/apehex
	Free for personal and commercial use under the CCA 4.0 license
*/

/* Header */

	#header {
		body.is-preload & {
			opacity: 1;

			footer {
				@include vendor('transform', 'none');
				opacity: 1;
			}
		}
	}