@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';

// Breakpoints.

@include breakpoints((
    small:    ( 481px,   736px  ),
    xsmall:   ( 361px,   480px  ),
    xxsmall:  ( null,    360px  )
));

// Base.

@import 'small/base/reset';
@import 'small/base/page';
@import 'small/base/typography';

// Component.

@import 'small/components/row';
@import 'small/components/section';
@import 'small/components/form';
@import 'small/components/box';
@import 'small/components/icon';
@import 'small/components/image';
@import 'small/components/list';
@import 'small/components/actions';
@import 'small/components/icons';
@import 'small/components/language';
@import 'small/components/contact';
@import 'small/components/pagination';
@import 'small/components/table';
@import 'small/components/button';
@import 'small/components/mini-posts';
@import 'small/components/features';
@import 'small/components/facts';
@import 'small/components/tileset';
@import 'small/components/posts';

// Layout.

@import 'small/layout/wrapper';
@import 'small/layout/main';
@import 'small/layout/sidebar';
@import 'small/layout/header';
@import 'small/layout/banner';
@import 'small/layout/footer';
@import 'small/layout/menu';
