.posts {
    $gutter: (_size(gutter) * 2);
    @include breakpoint('<=xlarge') {
        article {
            width: calc(50% - #{$gutter});

            &:nth-last-child(3) {
                margin-bottom: $gutter;
            }
        }
    }
}
