/* Header */

#header {
    @include vendor('display', 'flex');
    border-bottom: solid 5px _palette(accent);
    position: relative;
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;

    > * {
        margin-bottom: 0;
    }

    .logo {
        @include vendor('flex', '2');
        border-bottom: 0;
        color: inherit;
        font-family: _font(family-heading);
        font-size: 1.125em;
    }

    .icons {
    }

    .language {
        position: absolute;
        padding: 0 1em 0 0;
        right: 0;
        text-align: right;

        li {
            display: inline-block;
            margin: 0;
            padding: 0 1em 0 0;

            &:last-child {
                padding-right: 0;
            }

            .icon {
                color: inherit;

                &:before {
                    font-size: 1.25em;
                }
            }
        }

        a {
            border: none;
        }
        
        .en:lang(en), .fr:lang(fr), .de:lang(de){
            font-weight: bold;
        }
    }
}

/* Inverted */

#header.inverted {
    background-color: _palette(bg-alt-inverted);
    border-bottom: solid 5px _palette(accent-inverted);
}
