/* Icons */

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;

    li {
        display: inline-block;
        margin: 1em;
        padding: 0;

        &:last-child {
            padding-right: 0;
        }

        .icon {
            color: inherit;

            &:before {
                font-size: 1.25em;
            }

            &:hover{
                color: _palette(accent-cp);
            }
        }
    }
}
