/*
    Hide the radio buttons
*/

.vertical-tabset input[type="radio"] {
    position: absolute;
    left: -200vw;
}

/*
    Toggle
*/

.vertical-tabset .vertical-tab .tab-panel {
    display: none;
}

.vertical-tabset .vertical-tab input[type="radio"]:checked ~ .tab-panel {
    display: block;
}

/*
    Common style
*/

.vertical-tabset {
    position: relative;
}

.vertical-tabset .vertical-tab {
    display: block;
}

.vertical-tabset input[type="radio"] + label {
    position: relative;
    display: inline-block;
    margin: 0 !important;
    padding: 15px 15px 25px !important;
    border: 2px solid transparent;
    border-right: 0;
    cursor: pointer;
    font-weight: bold;
    width: 40%;
    z-index:100;

    &::before {
        display: none !important;
    }

    &::after {
        content: "";
        position: absolute;
        left: 15px;
        bottom: 10px;
        width: 22px;
        height: 4px;
        background: _palette(border);
    }
}

.vertical-tabset .vertical-tab .tab-panel {
    position: absolute;
    top: 0;
    left: 40%;
    padding: 0 30px !important;
    margin: 0 0 0 -2px;
    border-left: 2px solid _palette(accent);
    height: 100%;
}

/*
    Active
*/

.vertical-tabset label:hover,
.vertical-tabset input[type="radio"]:focus + label {
    color: _palette(accent) !important;
}

.vertical-tabset label:hover::after,
.vertical-tabset input[type="radio"]:focus + label::after,
.vertical-tabset input[type="radio"]:checked + label::after {
    background: _palette(accent);
}

.vertical-tabset input[type="radio"]:checked + label {
    border-color: _palette(accent);
    border-right: 2px solid _palette(bg);
}

/*
    Inverted
*/

.inverted .vertical-tabset input[type="radio"] + label {
    color: _palette(fg-inverted);

    &::after {
        background: _palette(border-inverted);
    }
}

/*
    Inverted & active
*/

.inverted .vertical-tabset input[type="radio"] label:hover,
.inverted .vertical-tabset input[type="radio"]:focus + label {
    color: _palette(accent);
}

.inverted .vertical-tabset input[type="radio"] label:hover::after,
.inverted .vertical-tabset input[type="radio"]:focus + label::after,
.inverted .vertical-tabset input[type="radio"]:checked + label::after {
    background: _palette(accent);
}

.inverted .vertical-tabset input[type="radio"]:checked + label {
    border-right: 2px solid _palette(bg-alt-inverted);
}
