@font-face {
  font-family: 'Certifications';
  src:  url('../webfonts/certifications.eot?ag9sv7');
  src:  url('../webfonts/certifications.eot?ag9sv7#iefix') format('embedded-opentype'),
    url('../webfonts/certifications.ttf?ag9sv7') format('truetype'),
    url('../webfonts/certifications.woff?ag9sv7') format('woff'),
    url('../webfonts/certifications.svg?ag9sv7#certs') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-ciemono:before {
  content: "\e900";
}
.icon-cneficmono:before {
  content: "\e901";
}
.icon-eistimono:before {
  content: "\e902";
}
.icon-ensemmono:before {
  content: "\e903";
}
.icon-ieammono:before {
  content: "\e904";
}
.icon-ifagmono:before {
  content: "\e905";
}
.icon-ifgmono:before {
  content: "\e906";
}
.icon-marinemono:before {
  content: "\e907";
}
.icon-ubmono:before {
  content: "\e908";
}
.icon-ucamono:before {
  content: "\e909";
}
