/*
	Drop by MOODULE
	https://github.com/moodule
	Free for personal and commercial use under the CCA 4.0 license
*/

/* Header */

	body.is-preload #header {
		opacity: 1;
	}

		body.is-preload #header footer {
			-moz-transform: none;
			-webkit-transform: none;
			-ms-transform: none;
			transform: none;
			opacity: 1;
		}