body, input, select, textarea {
    @include breakpoint('<=xlarge') {
        font-size: 11pt;
    }

    @include breakpoint('<=large') {
        font-size: 10pt;
    }
}

@include breakpoint('<=xlarge') {
    h1 {
        font-size: 3.5em;
    }
}
