/* Main */

#main {
    > .inner {
        @include breakpoint('<=small') {
            section {
            	padding: 1em 1em 1em 4em;
            }
        }

        #header {
            padding: 2em 4em 1em 4em;
            margin: 0;
        }
    }
}
