/* Facts */

.facts {
	$gutter: 1px;

	@include vendor('display', 'flex');
	@include vendor('flex-wrap', 'wrap');
	margin: 0 0 _size(element-margin) ($gutter * -1);
	width: calc(100% + #{$gutter});

	article {
		@include vendor('flex-grow', '0');
		@include vendor('flex-shrink', '1');
		margin: 0 0 $gutter $gutter;
		position: relative;
		width: calc(#{(100% / 6)} - #{$gutter});

		&:before {
			background: _palette(border);
			content: '';
			display: block;
			height: calc(100% + #{$gutter});
			left: ($gutter * -0.5);
			position: absolute;
			top: 0;
			width: 1px;
		}

		> :last-child {
			margin-bottom: 0;
		}

		.icon {
			position: relative;
			margin: 0;
			width: 100%;
			height: 20%;
			text-align: center;
			font-size: 3rem;
			color: _palette(accent);
		}

		.fact-intro {
			position: relative;
			width: 100%;
			height: 20%;
			margin: 0;

			p {
				margin: 0;
				display: table-cell;
				vertical-align: bottom;
				text-align: center;
				text-transform: uppercase;
				font-size: 1.5rem;
			}
		}

		.fact {
			position: relative;
			width: 100%;
			height: 20%;
			margin: 0;

			h3 {
				margin: 0;
				display: table-cell;
				vertical-align: baseline;
				text-align: center;
				text-transform: uppercase;
				font-size: 3rem;
			}
		}

		.fact-outro {
			position: relative;
			width: 100%;
			height: 30%;
			margin: 0;

			p {
				margin: 0;
				display: table-cell;
				vertical-align: top;
				text-align: center;
				text-transform: lowercase;
				font-size: 1.5rem;
			}
		}
	}

	article {
		.off {
			display: none;
		}

		.on.icon {
			display: block;
		}

		.on.fact-intro {
			display: table;
		}

		.on.fact {
			display: table;
		}

		.on.fact-outro {
			display: table;
		}
	}

	article:hover {
		background-color: _palette(accent);

		.on {
			display: none;
		}

		.off.icon {
			display: block;
			color: _palette(accent-inverted);
		}

		.off.fact-intro {
			display: table;
			color: #ffffff;
		}

		.off.fact {
			display: table;
			color: #ffffff;
		}

		.off.fact-outro {
			display: table;
			color: #ffffff;
		}
	}

	@include breakpoint('<=small') {
		$gutter: _size(gutter) * 1.5;

		margin: 0 0 _size(element-margin) ($gutter * -1);
		width: calc(100% + #{$gutter});

		article {
			margin: 0 0 $gutter $gutter;
			width: calc(50% - #{$gutter});

			&:before {
				height: calc(100% + #{$gutter});
				left: ($gutter * -0.5);
			}

			&:nth-last-child(3) {
				margin-bottom: $gutter;
			}
		}
	}

	@include breakpoint('<=xsmall') {
		$gutter: _size(gutter) * 1.5;

		margin: 0 0 _size(element-margin) 0;
		width: 100%;

		article {
			margin: 0 0 $gutter 0;
			width: 100%;

			&:before {
				display: none;
			}

			&:after {
				width: 100%;
				background: _palette(border);
				bottom: ($gutter * -0.5);
				content: '';
				display: block;
				height: 1px;
				position: absolute;
				right: 0;
			}

			&:last-child {
				margin-bottom: 0;

				&:after {
					display: none;
				}
			}
		}
	}
}