/* Facts */

.facts {
	$gutter: 1px;

	@include vendor('display', 'flex');
	@include vendor('flex-wrap', 'wrap');
	margin: 0 0 0 0;
	width: 100%;

	article {
		@include vendor('flex-grow', '1');
		@include vendor('flex-shrink', '1');
		margin: 0 0 $gutter $gutter;
		position: relative;
		min-height: 512px;

		&:before {
			background: _palette(border);
			content: '';
			display: block;
			height: 100%;
			left: ($gutter * -0.5);
			position: absolute;
			top: 0;
			width: 1px;
		}

		> :last-child {
			margin-bottom: 0;
		}

		.icon {
			position: relative;
			margin: 0;
			width: 100%;
			height: 20%;
			text-align: center;
			font-size: 3rem;
			color: _palette(accent);
		}

		.fact-intro, .fact-outro {
			position: relative;
			width: 100%;
			height: 30%;
			margin: 0;

			p {
				margin: 0;
				display: table-cell;
				text-align: center;
				font-size: 1.5rem;
			}
		}

		.fact-intro p {
			vertical-align: bottom;
			text-transform: uppercase;
		}

		.fact-outro p {
			vertical-align: top;
			text-transform: lowercase;
		}


		.fact {
			position: relative;
			width: 100%;
			height: 20%;
			margin: 0;

			h3 {
				margin: 0;
				display: table-cell;
				vertical-align: baseline;
				text-align: center;
				text-transform: uppercase;
				font-size: 3rem;
			}
		}
	}

	article {
		.off {
			display: none;
		}

		.on.icon {
			display: block;
		}

		.on.fact-intro {
			display: table;
		}

		.on.fact {
			display: table;
		}

		.on.fact-outro {
			display: table;
		}
	}

	article:hover {
		background-color: _palette(accent);

		.on {
			display: none;
		}

		.off.icon {
			display: block;
			color: _palette(accent-inverted);
		}

		.off.fact-intro {
			display: table;

			p {
				color: #ffffff;
			}
		}

		.off.fact {
			display: table;
			
			h3 {
				color: #ffffff;
			}
		}

		.off.fact-outro {
			display: table;
			
			p {
				color: #ffffff;
			}
		}
	}

	@include breakpoint('<=small') {
		$gutter: _size(gutter) * 1.5;

		article {
			margin: 0 0 $gutter $gutter;
			width: 50%;
		}
	}

	@include breakpoint('<=xsmall') {
		$gutter: _size(gutter) * 1.5;

		article {

			&:after {
				width: 100%;
				background: _palette(border);
				bottom: ($gutter * -0.5);
				content: '';
				display: block;
				height: 1px;
				position: absolute;
				right: 0;
			}

			&:last-child {
				margin-bottom: 0;

				&:after {
					display: none;
				}
			}
		}
	}
}