/* Sections/Article */

section, article {
    margin-bottom: 3em;
}

section > :last-child,
article > :last-child,
section:last-child,
article:last-child {
    margin-bottom: 0;
}

.row > {
    section, article {
        margin-bottom: 0;
    }
}