---
layout: home
lang-ref: 404-page
title: Error 404
permalink: /404.html
background:
    class: inverted
    image:
        url: "/assets/css/images/pillars-of-creation.webp"
header:
    title: 404
    subtitle: Error
banner:
    title: "Page not found"
    description: >-
        Looking for more?
    button:
        url: "#contact"
        label: "Contact me :)"
---
<!-- Section -->
<section>
    <header class="major">
        <h2>Getting back to the main website</h2>
    </header>
    <p>All the pages of the website are listed in the navigation menu.</p>
    <p>You can access it by clicking the ||| icon in the top left corner of your screen.</p>
</section>


{% include contact.html %}
