---
---
{% assign lang = page.lang | default: site.lang | default: 'en' %}
{% assign menu = site.data.translations.menu[page.menu][lang] %}
{% assign title = page.title | default: site.title %}
{% assign subtitle = page.subtitle | default: site.subtitle %}
{% assign description = page.description | default: site.description %}

<!DOCTYPE html>
<html lang="{{ lang }}">

{% include head.html title=title subtitle=subtitle %}

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                {% include header.html title=title subtitle=subtitle %}

                {{ content }}

            </div>
        </div>

        {% include sidebar.html menu=menu %}

    </div>

    {% include scripts.html %}

</body>

</html>
