{% assign collection = site.collections | where: "label", page.collection | first %}
{% assign lang = page.lang | default: site.lang | default: 'en' %}

{% assign menus = collection.menu | default: site.data.translations.menu %}
{% assign menu = menus[lang] %}

{% assign title = collection.title | default: site.title | default: page.title %}
{% assign subtitle = collection.subtitle | default: site.subtitle | default: page.subtitle %}
{% assign description = collection.description | default: site.description | default: page.description %}

<!DOCTYPE html>
<html lang="{{ lang }}">

{% include head.html title=title subtitle=subtitle %}

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                {% include header.html title=title subtitle=subtitle %}

                {{ content }}

            </div>
        </div>

        {% include sidebar.html menu=menu %}

    </div>

    {% include scripts.html %}

</body>

</html>
