---
---
{% assign lang = page.lang | default: site.lang | default: 'en' %}
{% assign menu = site.data.translations.menu[page.menu][lang] %}
{% assign title = page.title | default: site.title %}
{% assign subtitle = page.subtitle | default: site.subtitle %}
{% assign description = page.description | default: site.description %}

<!DOCTYPE html>
<html lang="{{ lang }}">

    {% include head.html title=title subtitle=subtitle%}

    <body>

        {% include navigation.html menu=menu %}

        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {{ content }}
            </div>
        </main>

    {% include footer.html %}
    
    </body>

</html>
