/* Facts */

.facts {
    $gutter: 1px;

    @include breakpoint('<=small') {
        $gutter: _size(gutter) * 1.5;

        article {
            margin: 0;
            padding: 0;
            width: 50%;
        }
    }

    @include breakpoint('<=xsmall') {
        $gutter: _size(gutter) * 1.5;

        article {

            &:before {
                display: none;
            }

            &:after {
                width: 100%;
                background: _palette(border);
                bottom: ($gutter * -0.5);
                content: '';
                display: block;
                height: 1px;
                position: absolute;
                right: 0;
            }

            &:last-child {
                margin-bottom: 0;

                &:after {
                    display: none;
                }
            }
        }
    }
}
