// MSIE: Required for IEMobile.
@-ms-viewport {
    width: device-width;
}

// MSIE: Prevents scrollbar from overlapping content.
body {
    -ms-overflow-style: scrollbar;
}

// Set box model to border-box.
// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: _palette(bg);

    // Stops initial animations until page loads or stops resizing.
        &.is-preload,
        &.is-resizing {
            *, *:before, *:after {
                @include vendor('animation', 'none !important');
                @include vendor('transition', 'none !important');
            }
        }

}
